@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ######### */
/* see https://www.joshwcomeau.com/css/custom-css-reset/ */
/* and https://medium.com/@rounakbajoriastar/creating-responsive-ui-without-a-framework-pure-html-css-guide-aad7530c9db1 */
/* ######### */

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  padding: 0.5rem;
  background-color: #f9f9f9;
  color: #212529;
}

header, footer {
  background: #fafac3;
  padding: 1rem;
  text-align: center;
}

footer{
  margin-top: 1rem;
}

article > p, article > h1, article > h2, article > h3, article > h4, article > h5, article > h6, article > dl {
  margin-bottom: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(250, 250, 195, 0.5);
  padding: 0 0.5rem;
}
nav a {
  text-decoration: none;
  font-weight: bold;
}

/* https://bloycey.medium.com/how-to-style-dl-dt-and-dd-html-tags-ced1229deda0 */
dl {
  display: grid;
  grid-gap: 0.2em 1rem;
  grid-template-columns: max-content;
}
dt {
}
dd {
  grid-column-start: 2;
}