@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ######### */
/* see https://www.joshwcomeau.com/css/custom-css-reset/ */
/* and https://medium.com/@rounakbajoriastar/creating-responsive-ui-without-a-framework-pure-html-css-guide-aad7530c9db1 */
/* and https://easyhtmlcode.com/learncss/howto-make-print-link.html */
/* ######### */

/*
--heading: color-mix(in srgb, #fafac3, black 70%);
*/

:root {
  --heading-bg: #fafac3;
  --sub-heading-bg: rgba(250, 250, 195, 0.5);
  --body-bg:#f9f9f9;
  --body: #212529;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

#root, #__next {
  isolation: isolate;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--body-bg);
  color: var(--body);
}

header, footer {
  background: var(--heading-bg);
  padding: 1rem;
  text-align: center;
}

header > h1 {
  margin:0;
  padding:0;
}

section[role="mark"] {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

nav, section[role="contentinfo"] {
  background-color: var(--sub-heading-bg);
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

article {
  padding: 0.5rem;
}

section[role="contentinfo"] {
  color: rgba(33, 37, 41, 0.5);
  font-size: smaller;
}


/* https://bloycey.medium.com/how-to-style-dl-dt-and-dd-html-tags-ced1229deda0 */
dl {
  display: grid;
  grid-gap: 0.2em 1rem;
  grid-template-columns: max-content;
  margin-bottom: 0.5rem;
}
dt {
}
dd {
  grid-column-start: 2;
}

ul {
  list-style-type: none;
  padding: 0;
}