body {
  background-color: white;
  max-width:none;
}

header, footer, nav, figure, figcaption, img, div.sub-footer, .icon {
  display:none;
}

article {
  padding: 0;
}

article > section:last-of-type {
  margin-bottom: 0;
}

