<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Roberts Family Recipes</title>
  <meta name="description" content="Recipes that we cook in our house.">
  <meta name="author" content="Mat Roberts">
  <link rel="stylesheet" href="./styles/default.css">
</head>

<body>
  <header>
    <h1>Roberts Family Recipes</h1>
  </header>
  <nav></nav>
  <article>
    <h2>Contents</h2>
    <ul>##Contents##
    </ul>

  </article>
  <section role="contentinfo">
    Last Updated: ##LastUpdated##
  </section>
  <footer>
    <p>&copy; 2022-2026 Mat Roberts</p>
  </footer>
</body>
</html>