<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>$($replacements.title)</title>
  <meta name="author" content="Mat Roberts">
  <link rel="canonical" href="$($replacements.canonical)">
  <link rel="stylesheet" href="../styles/default.css">
  <link rel="stylesheet" href="../styles/print.css" media="print">
</head>

<body>
  <header>
    <h1>Roberts Family Recipes</h1>
  </header>
  <nav>
    <a href="../index.html">Home</a>
    <a href="#" onclick="window.print();return false;">Print</a>
  </nav>
  <article>
    <div role="mark"><div>$($replacements.serves)</div><div>$($replacements.duration)</div></div>
<section>
<h2>$($replacements.title)</h2>
$($replacements.intro)
</section>
$($replacements.sections | ForEach { 
@"
<section>
$_
</section>

"@
})
  </article>
  <div role="contentinfo"><div>$($replacements.createdDate)</div><div>$($replacements.updatedDate)</div></div>
  <footer>
    <div>&copy; 2022-2026 Mat Roberts</div>
  </footer>
</body>
</html>