<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>##Title##</title>
  <meta name="author" content="Mat Roberts">
  <link rel="stylesheet" href="../styles/default.css">
  <link rel="stylesheet" href="../styles/print.css" media="print">
</head>

<body>
  <header>
    <h1>Roberts Family Recipes</h1>
  </header>
  <nav>
    <a href="../index.html">Home</a>
    <a href="#" onclick="window.print();return false;">Print</a>
  </nav>
  <article>
    <h2>##Title##</h2>
##Recipe##  
  </article>
  <section role="contentinfo"></section>
  <footer>
    <p>&copy; 2022-2026 Mat Roberts</p>
  </footer>
</body>
</html>